body {
    font-family: 'roboto', sans-serif;
}

.header {
    background-color: #F2F2F2;
    padding: none;

}

h1 {
    color: #ff5c0f;
    height: 15px;
    position: absolute;
    top: 5px;
    font-size: 35px;
    word-spacing: -1px;
}

span {
    color: #20a8b4;
}

.span2 {
    color: #ff5c0f;
}

.button {
    color: #fff;
    border: #20a8b4;
    background-color: #20a8b4;
    text-align: left;
    padding: 12px;
    font-size: 18px;
    margin: 4px 2px;
    display: inline-block;
    border-radius: 10px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-size: 12px;
    font-color: #000;
}

li {
    padding: 14px 16px;
    font-size: 20px;
    color: #000;
}

li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    top: 10px;
    height: 20px;
    position: relative;
    margin: 4px 2px;
}

li a:hover {
    color:#ff5c0f
}

.button:hover {
    background-color: #ff5c0f;
}

img {
    display: inline-block;
    position: absolute;
    left: 1000px;
    top: 200px;
    width: 400px;
    height: auto;
}

.heading2 {
    display: inline-block;
    position: absolute;
    top: 300px;
    height: auto;
}

p{
    display: inline-block;
    position: absolute;
    top: 350px;
    height: auto;
}

.learnmore {
    display: inline-block;
    position: absolute;
    top: 375px;
    height: auto;
}

@media screen and (min-width: 350px) {
    
    img {
        display: none;
    }
    h1 {
        flex-direction:column;
        width: auto;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    h2 {
        white-space: nowrap;
        width: auto;

    }

    .button {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    ul {
        display: flex;
        flex-direction: row;
        float: right;
    }
    img {
        display: block;
    }

    .button {
        width: auto;
    }
}




